{% extends 'header.html' %}
{% block content %}
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Message Senders (Current)</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Bot</th>
{#                    <th scope="col">Function</th>#}
                    <th scope="col">Success</th>
                    <th scope="col">Error</th>
                    <th scope="col">Total</th>
                    <th scope="col">Current</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for bot in bots %}
                  <tr>
                    <th scope="row">
                      {{ bot.name }}
                    </th>
{#                    <th scope="row">#}
{#                      {{ sender.get_function_display }}#}
{#                    </th>#}
                    <td>
                      {{ bot.success }}
                    </td>
                    <td>
                      {{ bot.error }}
                    </td>
                    <td>
                      {{ bot.error|add:bot.success }} / {{ bot.total }}
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{ bot.current }}%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{ bot.current }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bot.current }}%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                        <a href="/bot/{{ bot.pk }}"><i class="fas fa-eye"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{#{% block script %}#}
{#    <script>#}
{#    const pause = 'ni-button-pause'#}
{#    const play = 'ni-button-play'#}
{#    $('#status > i').click(function (){#}
{#        $(this).form.submit()#}
{#        if ($(this).hasClass(pause)){#}
{#            $(this).removeClass(pause)#}
{#            $(this).addClass(play)#}
{#        }#}
{#        else{#}
{#            $(this).removeClass(play)#}
{#            $(this).addClass(pause)#}
{#        }#}
{#    })#}
{#    </script>#}
{#{% endblock %}#}